
$font_title: Solway;
$font_body: ZillaSlab;

$color_shadow: rgba(34,34,34,0.5);
$color_accent: rgba(85,124,153,1);
$color_accentDark: rgba(78,114,136,1);
$color_accentDarker: rgba(71,104,124,1);
$color_accentText: rgba(255,255,255,1);
$color_body: rgba(255,255,255,1);
$color_bodyDark: rgba(238,238,238,1);
$color_bodyText: rgba(51,51,51,1);
$color_background: rgba(242,242,242,1);

@font-face {
	font-family: $font_title;
	src: url('../fonts/Solway/Solway-Regular.ttf') format('truetype');
}

@font-face {
	font-family: $font_body;
	src: url('../fonts/Zilla/ZillaSlab-Regular.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font_title, serif;
}

body {
    color: $color_bodyText;
    background-color: $color_background;
    font-family: $font_body, serif;
    font-size: 20px;
}

.container {
    max-width: 1000px;
}

.right {
    float: right;
    text-align: right;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 255;
    border-radius: 0;
    box-shadow: 0 6px 12px $color_shadow;
}

.navbar-default {
    background-color: $color_accent;
    border: none;
}

.navbar-default .navbar-brand {
    color: $color_accentText;
    font-family: $font_title, serif;
}

.navbar-default .navbar-brand:hover {
    color: $color_accentText;
}

.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
    color: $color_accentText;
    margin: 6px 3px;
    padding: 10px;
}

.navbar-default .navbar-nav li a:hover {
    color: rgba(255,0,0,1);
    background-color: rgba(0,255,0,1);
}

.navbar-default .navbar-nav .active a {
    color: $color_accentText;
    background-color: $color_accentDarker;
}

.navbar-default .navbar-toggle:hover{
    background-color: $color_accentDark;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: $color_accentText;
}

.dropdown-menu {
    background-color: $color_accent;
}

.dropdown-header {
    color: $color_accentText;
    font-size: 15px;
    font-weight: 600;
    padding-left :10px;
}
.dropdown-menu li a {
    color: $color_accentText;
}

.navbar-default .navbar-nav .open a:hover,
.navbar-default .navbar-nav .open a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background-color: $color_accentDark;
    color: $color_accentText;
}

#content {
    background-color: $color_body;
    border-radius: 3px;
    box-shadow: 0 6px 12px $color_shadow;
}

#content img {
    max-width: 100%;
    height: auto;
}

footer {
    font-size: 14px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 30px;
}

blockquote footer {
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
}

#post-tags {
    margin-top: 30px;
}

#prev-next {
    padding: 15px 0;
}

.post-header {
    margin-bottom: 20px;
}
.post-header h2 {
    font-size: 32px;
}

#post-meta {
    font-size: 14px;
    color: $color_shadow;
}

#page-header {
    border-bottom: 3px solid $color_accent;
    margin-bottom: 20px;
}
#page-header h2 {
    font-size: 32px;
}

pre {
    overflow-x: auto;
}
pre code {
    display: block;
    padding: 0.5em;
    overflow-wrap: normal;
    white-space: pre;
}

code {
    color: $color_accent;
}

pre, code, .hljs {
    background-color: $color_bodyDark;
}

@media (min-width: 768px) {
    .navbar {
        min-height: 70px;
    }
    .dropdown-menu>li>a {
        padding: 3px 0;
    }
    .navbar-nav>li>a {
        padding: 30px 0;
    }
    .navbar-default .navbar-brand {
        font-size: 36px;
        margin: 10px 0;
    }
    .navbar-collapse {
        margin-top: 18px;
    }
    .navbar-right {
    }
    #content{
        margin-top: 30px;
        padding: 30px 45px;
    }
}

@media (max-width: 767px) {
    body{
    }
    .navbar-default .navbar-brand {
        font-size: 36px;
        margin: 10px 0;
    }
    .navbar-toggle {
        margin-top: 18px;
    }
    #content{
        padding: 15px;
    }
    #post-meta .right {
        float:left;
        text-align: left;
    }
}
