{% extends "/html/base.html" %}
{%block subtitle %}: Archives{% endblock %}
{% block content %}

<div id="posts">
    <div id="page-header">
        <h2>Past Blog Posts</h2>
		<p>
			Click on a post to open a preview and view its tags or view all tags <a href="/tags">here</a>.
		</p>

    </div>
    {% for postset in allposts %}
        <h4>{{postset.group}}</h4>
        <ul>
        {% for post in postset.posts %}
        <li>
			<details>
				<summary class="preview-summary">
					{{post.date|date:"MMM dd"}} - <a href="{{post.uri}}">{{post.title}}</a>
				</summary>
				<div class="preview">
					{% if post.tags|not-empty %}
					<b>Tags: </b>
					{% for tag in post.tags %}
					<a href="{{tag.uri}}">{{tag.name}}</a>
					{% endfor %}
					{% endif %}
					{{post.preview|safe}}
				</div>
			</details>
        </li>
        {% endfor %}
        </ul>
    {% endfor %}
</div>

{% endblock %}
